body{
    background-color: rgb(14, 173, 0);
    
}
#main{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 95vh;
    width: 95vw;
    border-radius: 50px;
    margin: auto;
}
.logo{
    width: 200px;
    height: 200px;
    
    /* border-radius: 100px; */
    margin: 5px auto;
    
}
.login{
    width: 50%;
    margin:auto;
    /* margin-top: 10%; */
    padding: 10px;
    align-items: center;
    text-align: center;
}
.form{
    padding: 10px;
    margin: auto;
    width: 270px;
    /* height: 150px; */
    background:#33ff0036;
    border-radius: 10px;
    border:1px solid green;
    box-shadow: 0 10px 10px 0;
}

input{
    /* margin-top:20px; */
    /* margin-left: 25px; */
    /* margin-right: 25px; */
    border-radius: 5px;
    border: solid 1px green;
    width: 95%;
    height: 25px;
    text-align: center;
    
    
}
.submit{
    margin-top: 20px;
    width:95%;
    height: 25px;
    margin-top: 30px;
    border-radius: 20px;
    border: 1px solid green;
}
.right-panel{
    width:50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #33ff002a;
}
.sch_name{
    margin: 5px auto;
    font-size: 20px;
}
marquee{
    height: 100%;
}
.disclaimer{
    height: 50%;
    margin-top:20px;
}
.time{
    font-size: 100px;
}
.date{
    font-size: 30px;
}
.label{
    text-align: left;
}
h3{
    text-align: center;
}
p{
    text-decoration: none;
    margin-top: 20px;
}